
        {{>header}}
        <!--Container -->
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="content">
                <h1 id="special1"> {{title}} </h1>
                <h3 id="special"> {{message}}</h3>
                
            </div>
            </div>
            </div>
        </div>
        </div>
        {{>footer}}
   